@{
    Layout = null;
}
<html>
<head>
    <title>授权提示</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
    <div class="card">
        <div class="card-body">
            <div style='margin:10px auto;padding:20px; width:600px; height:300px; border:1px solid #ccc;background:yellow;line-height:40px;font-size:20px;'>
                <div>
                    1：日志面板被锁定
                </div>
                <div>
                    2：请联系华瑞技术中心: 0571-83786666
                </div>
                <div>
                    3：提示：在配置中心设置 LogDashboard=open
                </div>
            </div>
        </div>
    </div>
</body>
</html>

